@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

*{
  box-sizing: border-box;
  margin: 0;
}

html, body{
  margin: 0;
  background: rgb(255, 255, 255);
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.movie_card{
    position: relative;
    background: black;
    box-shadow: inset -1px 100px 100px 20px rgb(66, 6, 6);
    display: flex;
    flex-direction: column;
    width: 31.5%;
    margin: 100px 12px 0px 15px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.2s;
  &:hover{
    transform: scale(1.02);
    transition: all 0.2s;
  }
  &__section{
    width: 100%;
    height: 100%;
    &__header{
      position: relative;
      padding: 25px;
      height: 40%;
      h1{
        color: #fff;
        font-weight: 400;
      }
      h4{
        color: #9ac7fa;
        font-weight: 400;
      }
      &__minutes{
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,0.13);
      }
      &__type{
        display: inline-block;
        color: #cee4fd;
        margin-left: 10px;
      }
      &__image{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    &__desc{
      padding: 25px;
      height: 50%;
      &__text{
        position: relative;
        z-index: 2;
        color: #cfd6e1;
      }
    }
    
  }
  &__button{
    background-color: #0e0101;
    cursor: pointer;
    padding: 15px;
    color: white;
    font-size: 16px;
  }
 
}


